.the-error{
    width: 100%;
    float: left;
    position: relative;
    margin: 50px 0 80px 0;
    text-align: center;
}

/* Proposta */
.propostas,
.propostas .title,
.propostas .proposites{
    position: relative;
    width: 100%;
    float: left;
}
.propostas{
    margin: 0 0 70px;
}
.propostas .title{
    text-align: center;
    margin: 0 0 30px;
}
.propostas .proposites .box{
    display: table;
    float: none;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.propostas .proposites .box a{
    overflow: hidden;
    display: inline-block;
    margin: 0 10px 20px;
    position: relative;
    top: 0;
    float: none;
    border: 1px solid #364193;
    padding: 9px;
    color: #364193;
    text-transform: uppercase;
}
.propostas .proposites .box a:hover{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.propostas .proposites .box a::after{
    position: absolute;
    background-color: rgba(54, 65, 147, 0.29);
    content: '';
    height: 100%;
    width: 100%;
    z-index: 0;
    transform: rotate(45deg);
    left: 100%;
    opacity: 0;
}
.propostas .proposites .box a:hover::after{
    left: 5%;    
    opacity: 1;
}