.menu-mes{
    border-bottom: 1px solid #364193;
	position: relative;
	width: 100%;
	float: left;
}
.menu-mes .box{
	display: table;
    float: none;
    position: relative;
    margin: 27px auto 25px;
    text-align: center;
}
.menu-mes .box .mes{
	overflow: hidden;
    display: inline-block;
    margin: 0 10px 0;
    position: relative;
    float: none;
	top: 0;
}
.menu-mes .box .mes span{
	color: #364193;
    text-transform: uppercase;
	font-family: 'gotham-bold';
	font-size: 18px;	
}
.menu-mes .box .mes span a{
    color: #a9a9a9;
    text-transform: uppercase;
	font-family: 'gotham-bold';
}
.menu-mes .box .mes span a:hover{
	color: #364193;	
}

.calendar,
.calendar .the-calendar,
.calendar .the-calendar .title,
.calendar .the-calendar .event,
.calendar .the-calendar .event .info .desc .txt{
	position: relative;
	width: 100%;
	float: left;
}
.calendar{
	margin-bottom: 70px;
}
.calendar .the-calendar .event *,
.calendar .the-calendar .event{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;	
}
.calendar .the-calendar .event{
	border-left: 5px solid #364193;
	overflow: hidden;
}
.calendar .the-calendar .event.gray{
	border-left: 5px solid #f3d400;
}
.calendar .the-calendar .event .info{
	background-color: #FFF;
}
.calendar .the-calendar .event.gray .info{
	background-color: #F1F1F1;
}
.calendar .the-calendar .title{
	margin: 45px 0 10px;
}
.calendar .the-calendar .title h2{
	text-transform: uppercase;
	font-family: 'gotham-bold';
	font-size: 55px;
}
.calendar .the-calendar .event .cover{
	height: 0;
	background-size: cover;
	background-position: 50%;
}
.calendar .the-calendar .event .thumb{
	position: absolute;
	width: 150px;
}
.calendar .the-calendar .event .thumb img{
	width: 100%;
}
.calendar .the-calendar .event .thumb{
	position: absolute;
	z-index: -1;
	overflow: hidden;
}
.calendar .the-calendar .event .thumb img{
	width: 156%;
	left: -53%;
	position: relative;
}
.calendar .the-calendar .event .info{
	width: 90%;
	position: relative;
	z-index: 2;
	float: right;
	padding: 10px;
}
.calendar .the-calendar .event .info .date{
	position: absolute;
	width: 70px;
	left: 10px;
	margin: 15px 0 0;
}
.calendar .the-calendar .event .info .date span{
	color: #364193;
	display: block;
	width: 100%;
	text-align: center;
	font-family: 'gotham-bold';
	text-transform: uppercase;
}
.calendar .the-calendar .event .info .date span:first-child{
	font-size: 50px;
	line-height: 42px;
}
.calendar .the-calendar .event .info .date span:last-child{
	font-size: 27px;
	line-height: 23px;
}
.calendar .the-calendar .event .info .desc{
	padding: 0 0 0 80px;
}
.calendar .the-calendar .event .info .desc .txt{
	height: 118px;
	overflow: hidden;
}
.calendar .the-calendar .event .info .desc .txt h3{
	color: #364193;
	font-family: 'gotham-bold';
	margin: 13px 0 5px;
	font-size: 30px;
}
.calendar .the-calendar .event .hidde-mapa{
    position: relative;
    float: left;
    width: 100%;
	height: 0px;
    z-index: 12;
    overflow: hidden;
}
.calendar .the-calendar .event .mapa{
    position: relative;
    float: left;
    width: 100%;
    z-index: 12;
	height: 300px;
}



/* Selection open */
.calendar .the-calendar .event.open .cover{
	height: 220px;
}
.calendar .the-calendar .event.open .info{
	width: 100%;
	padding: 10px 10px 10px 90px;	
}
.calendar .the-calendar .event .info .over{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: rgba(54,65,147,0.33);
	background: -moz-linear-gradient(left, rgba(54,65,147,0.33) 0%, rgba(54,65,147,0.27) 47%, rgba(54,65,147,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(54,65,147,0.33)), color-stop(47%, rgba(54,65,147,0.27)), color-stop(100%, rgba(54,65,147,0)));
	background: -webkit-linear-gradient(left, rgba(54,65,147,0.33) 0%, rgba(54,65,147,0.27) 47%, rgba(54,65,147,0) 100%);
	background: -o-linear-gradient(left, rgba(54,65,147,0.33) 0%, rgba(54,65,147,0.27) 47%, rgba(54,65,147,0) 100%);
	background: -ms-linear-gradient(left, rgba(54,65,147,0.33) 0%, rgba(54,65,147,0.27) 47%, rgba(54,65,147,0) 100%);
	background: linear-gradient(to right, rgba(54,65,147,0.33) 0%, rgba(54,65,147,0.27) 47%, rgba(54,65,147,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#364193', endColorstr='#364193', GradientType=1 );
	position: absolute;
	top: 0;
	float: left;
	left: 0;
	width: 0%;
	height: 100%;
}
.calendar .the-calendar .event.gray .info .over{
	background: rgba(243,211,0,0.33);
	background: -moz-linear-gradient(left, rgba(243,211,0,0.33) 0%, rgba(243,211,0,0.27) 47%, rgba(243,211,0,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,211,0,0.33)), color-stop(47%, rgba(243,211,0,0.27)), color-stop(100%, rgba(243,211,0,0)));
	background: -webkit-linear-gradient(left, rgba(243,211,0,0.33) 0%, rgba(243,211,0,0.27) 47%, rgba(243,211,0,0) 100%);
	background: -o-linear-gradient(left, rgba(243,211,0,0.33) 0%, rgba(243,211,0,0.27) 47%, rgba(243,211,0,0) 100%);
	background: -ms-linear-gradient(left, rgba(243,211,0,0.33) 0%, rgba(243,211,0,0.27) 47%, rgba(243,211,0,0) 100%);
	background: linear-gradient(to right, rgba(243,211,0,0.33) 0%, rgba(243,211,0,0.27) 47%, rgba(243,211,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3d300', endColorstr='#f3d300', GradientType=1 );
}
.calendar .the-calendar .event:hover .info .over{
	width: 100%;
}
.calendar .the-calendar .event.open .info .over{
	display: none;
}
.calendar .the-calendar .event.open .info .date{
	left: 85px;
}
.calendar .the-calendar .event.open .info .desc .txt{
	height: auto;
	min-height: 95px;
}
.calendar .the-calendar .event.open .hidde-mapa{
	height: 300px;
}

/* Não há evento */
.nothing{
	position: relative;
	width: 100%;
	float: left;
}
.nothing .title h2,
.nothing .title h3{
	text-align: center;
}



@media (max-width: 1199px){}
@media (max-width: 991px){
	.calendar .the-calendar .title h2{
    	font-size: 48px;
	}
	.calendar .the-calendar .event .info .desc .txt h3{

	}
	.calendar .the-calendar .event.open .info .date{
    	left: 10px;
	}
	.calendar .the-calendar .event.open .info{
    	padding: 10px 10px 10px 10px;
	}
}
@media (max-width: 767px){
	.calendar .the-calendar .title h2{
    	font-size: 40px;
	}
	.calendar .the-calendar .event .info .desc .txt h3{
    	font-size: 25px;
	}
}
@media (max-width: 481px){
	.calendar .the-calendar .title h2{
    	font-size: 35px;
	}	
	.calendar .the-calendar .event .info .desc .txt{
    	height: 120px;
	}
	.calendar .the-calendar .event .info .desc .txt h3{
   		font-size: 20px;
	}
	.calendar .the-calendar .event .info .date span:first-child{
	    font-size: 35px;
	    line-height: 30px;
	}
	.calendar .the-calendar .event .info .date span:last-child{
    	font-size: 20px;
	}
	.calendar .the-calendar .event .info {
	    width: 100%;
	    padding: 10px;
	}
}
