.biografia,
.biografia .about,
.biografia .about .title,
.biografia .about .contem{
	position: relative;
	width: 100%;
	float: left;
}
.biografia .about{
	background-image: url('../img/vereador-daniel-annenberg.jpg');
	height: 100vh;
	background-size: cover;
	background-position: 100% 0%;
}
.biografia .about .title{
	margin: 30px 0;	
}
.biografia .about .title h2{}

.timeline,
.publicacoes,
.timeline .title,
.publicacoes .title{
	position: relative;
	width: 100%;
	float: left;
}
.timeline .title,
.publicacoes .title{
	margin: 33px 0 30px;
	text-align: center;
}
.publicacoes{
	background-color: #f1f1f1;
}
.timeline .title h2
.publicacoes .title h2{
	text-align: center;
}


/* TIME LINE */
.time-in-line,
.time-in-line .title{
	position: relative;
	float: left;
	width: 100%;
}
.time-in-line{
	background-color: #FFF;
	padding: 0 0 70px 0;
}
.time-in-line .title{
	padding: 75px 0 0 0;
}
.time-in-line .title h2{
	color: #666;
	text-align: center;
}
.cd-container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
.cd-container::after {
	content: '';
	display: table;
	clear: both;
}
.time-in-line #cd-timeline{}
#cd-timeline {
	padding: 2em 0;
	margin-top: 2em;
	margin-bottom: 2em;
	position: relative;
	float: left;
}
#cd-timeline::before {
	content: '';
	position: absolute;
	top: 0;
	left: 18px;
	height: 100%;
	width: 2px;
	background: #d2d2d2;
}
@media only screen and (min-width: 1170px) {
	#cd-timeline {
		margin-top: 3em;
		margin-bottom: 3em;
		float: none;
		margin-left: auto;
		margin-right: auto;
		display: table;
	}
	#cd-timeline::before {
		left: 50%;
		margin-left: -2px;
	}
}
.cd-timeline-block {
	position: relative;
	margin: 2em 0;
}
.cd-timeline-block::after {
	clear: both;
	content: '';
	display: table;
}
.cd-timeline-block:first-child {
	margin-top: 0;
}
.cd-timeline-block:last-child {
	margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
	.cd-timeline-block {
		margin: -59px 0;
	}
	.cd-timeline-block:first-child {
		margin-top: 0;
		margin: 0;
	}
	.cd-timeline-block:last-child {
		margin-bottom: 0;
	}
}
.cd-timeline-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
}
.cd-timeline-img img {
	display: block;
	width: 22px;
	height: 22px;
	position: relative;
	left: 51%;
	top: 50%;
	margin-left: -12px;
	margin-top: -12px;
}
.cd-timeline-img.cd-picture {
	background: rgba(255,255,255,0);
}
.cd-timeline-img.cd-movie {
	background: rgba(255, 255, 255, 0);
}
.cd-timeline-img.cd-location {
	background: rgba(255, 255, 255, 0);
}
@media only screen and (min-width: 1170px) {
	.cd-timeline-img {
		width: 60px;
		height: 60px;
		left: 50%;
		margin-left: -30px;
		/* Force Hardware Acceleration in WebKit */
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
	}
	.cssanimations .cd-timeline-img.is-hidden {
		visibility: hidden;
	}
	.cssanimations .cd-timeline-img.bounce-in {
		visibility: visible;
		-webkit-animation: cd-bounce-1 0.6s;
		-moz-animation: cd-bounce-1 0.6s;
		animation: cd-bounce-1 0.6s;
	}
}
@-webkit-keyframes cd-bounce-1 {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes cd-bounce-1 {
	0% {
		opacity: 0;
		-moz-transform: scale(0.5);
	}
	60% {
		opacity: 1;
		-moz-transform: scale(1.2);
	}
	100% {
		-moz-transform: scale(1);
	}
}
@keyframes cd-bounce-1 {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5);
		-moz-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-o-transform: scale(0.5);
		transform: scale(0.5);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
.cd-timeline-content {
	position: relative;
	margin-left: 60px;
	background: #ffffff;
	border-radius: 0.25em;
	padding: 1em;
}
.cd-timeline-content::after {
	clear: both;
	content: '';
	display: table;
}
.cd-timeline-content h2 {
	color: #303e49;
}
.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
	font-size: 13px;
	font-size: 15px;
}
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
	display: inline-block;
}
.cd-timeline-content p {
	margin: 0;
}
.cd-timeline-content .cd-read-more {
	float: right;
	padding: .8em 1em;
	background: #acb7c0;
	color: #ffffff;
	border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
	background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
	float: left;
	padding: .8em 0;
	opacity: .7;
}
.cd-timeline-content::before {
	content: '';
	position: absolute;
	top: 16px;
	right: 100%;
	height: 0;
	width: 0;
}
.cd-timeline-block.left .cd-timeline-content .titulo,
.cd-timeline-block.right .cd-timeline-content .titulo{
	float: left;
	width: 100%;
}
.cd-timeline-block.left .cd-timeline-content .titulo .box{
	float: left;
}
.cd-timeline-block.left .cd-timeline-content .titulo .box.responsive{
	display: block;
}
.cd-timeline-block.right .cd-timeline-content .titulo .box{
	float: left;
}
.cd-timeline-block.left .cd-timeline-content .titulo h3,
.cd-timeline-block.right .cd-timeline-content .titulo h3{
	border: 1px solid;
	font-size: 18px;
	border-radius: 6px;
	border: 1px solid #EEE;
	margin: 0;
	padding: 8px;
	line-height: 100%;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
}
.cd-timeline-block.left .cd-timeline-content .titulo h3{
	float: left;	
}
.cd-timeline-block.right .cd-timeline-content .titulo h3{
	float: right;
}
.cd-timeline-block.left .cd-timeline-content .titulo span,
.cd-timeline-block.right .cd-timeline-content .titulo span{
	float: left;
	background-color: #f3d400;
	display: block;
	color: #364193;
	padding: 6px 20px;
	margin: 0;
	font-size: 17px;
	border-radius: 3px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.cd-timeline-block.left .cd-timeline-content .titulo span{
	float: left;
}
.cd-timeline-block.right .cd-timeline-content .titulo span{
	float: left;
}
.cd-timeline-block.left .cd-timeline-content .desc,
.cd-timeline-block.right .cd-timeline-content .desc {
	width: 100%;
	padding: 18px;
	margin: 15px 0 0 0px;
	border: 1px solid #EEE;
	border-radius: 6px;
	float: left;
}
.cd-timeline-block.right .cd-timeline-content .desc h4,
.cd-timeline-block.left .cd-timeline-content .desc h4{
	font-size: 24px;
	margin: 20px 0 10px;
	color: #444;
}
.cd-timeline-block.left .cd-timeline-content .desc{
	text-align: left;
}
.cd-timeline-block.right .cd-timeline-content .desc {
	text-align: left;
	float: left;
}
.cd-timeline-block.left .cd-timeline-content .titulo .box.some{
	display: none;
}
.cd-timeline-block.left .cd-timeline-content .desc h3.titulo-acontece,
.cd-timeline-block.right .cd-timeline-content .desc h3.titulo-acontece{
	font-family: 'gotham-bold';
	font-size: 21px;
	margin: 10px 0 16px;
}
.cd-timeline-block.left li{
	text-align: justify;
	margin: 0 0 10px;
}
.cd-timeline-block.right li{
	margin: 0 0 10px;	
}
.timeline .cd-timeline-content .titulo .box,
.timeline .cd-timeline-content .titulo .box *{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	cursor: pointer;
}
.timeline .cd-timeline-content .titulo .box:hover span{
	color: #f3d400;
	background-color: #364193;	
}
.timeline .cd-timeline-content .desc{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    max-height: 13em;
	overflow: hidden;
    position: relative;
}
.timeline .cd-timeline-content .titulo.open + .desc{
    max-height: 100em;
}
.timeline .cd-timeline-content .desc::after{
	background: rgba(255,255,255,0.72);
	background: -moz-linear-gradient(top, rgba(255,255,255,0.72) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.72)), color-stop(47%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.72) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0.72) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0.72) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0.72) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
	/* background-color: #FFF; */
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 39.6px;
	right: 0;
	color: #7b7b7b;
	text-align: center;
}
.timeline .cd-timeline-content .titulo.open + .desc::after{
	display: none;
}




@media only screen and (min-width: 768px) {
	.cd-timeline-content h2 {
		font-size: 20px;
		font-size: 1.25rem;
	}
	.cd-timeline-content p {
		font-size: 15px;
		line-height: 23px;
	}
	.cd-timeline-content .cd-read-more,
	.cd-timeline-content .cd-date {
		font-size: 14px;
		font-size: 0.875rem;
	}
}
@media only screen and (min-width: 1170px) {
	.cd-timeline-content {
		margin-left: 0;
		width: 45%;
	}
	.cd-timeline-block.left .cd-timeline-content{
		padding: 1em 0 0 1.6em;
	}
	.cd-timeline-block.right .cd-timeline-content{
		padding: 1em 1.6em 0 0;
	}
	.cd-timeline-content::before {
		top: 24px;
		left: 100%;
		border-color: transparent;
		border-left-color: #fff;
	}
	.cd-timeline-content .cd-read-more {
		float: left;
	}
	.cd-timeline-content .cd-date {
		position: absolute;
		width: 100%;
		left: 122%;
		top: 6px;
		font-size: 16px;
		font-size: 1rem;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content {
		float: right;
		z-index: 3;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
		top: 24px;
		left: auto;
		right: 100%;
		border-color: transparent;
		border-right-color: #fff;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
		float: right;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
		left: auto;
		right: 122%;
		text-align: right;
	}
	.cssanimations .cd-timeline-content.is-hidden {
		visibility: hidden;
	}
	.cssanimations .cd-timeline-content.bounce-in {
		visibility: visible;
		-webkit-animation: cd-bounce-2 0.6s;
		-moz-animation: cd-bounce-2 0.6s;
		animation: cd-bounce-2 0.6s;
		z-index: 10;
	}
	.cd-timeline-block.left .cd-timeline-content .titulo,
	.cd-timeline-block.right .cd-timeline-content .titulo{
		float: left;
		width: 100%;
	}
	.cd-timeline-block.left .cd-timeline-content .titulo .box{
		float: right;
	}
	.cd-timeline-block.left .cd-timeline-content .titulo .box.responsive{
		display: none;
	}
	.cd-timeline-block.right .cd-timeline-content .titulo .box{
		float: left;
	}
	.cd-timeline-block.left .cd-timeline-content .titulo h3,
	.cd-timeline-block.right .cd-timeline-content .titulo h3{
		border: 1px solid;
		font-size: 18px;
		border-radius: 6px;
		border: 1px solid #EEE;
		margin: 0;
		padding: 8px;
		line-height: 100%;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
	}
	.cd-timeline-block.left .cd-timeline-content .titulo h3{
		float: left;	
	}
	.cd-timeline-block.right .cd-timeline-content .titulo h3{
		float: right;
	}
	.cd-timeline-block.left .cd-timeline-content .titulo span,
	.cd-timeline-block.right .cd-timeline-content .titulo span{
		float: left;
		background-color: #f3d400;
		display: block;
		color: #364193;
		padding: 6px 20px;
		margin: 0;
		font-size: 17px;
		border-radius: 3px;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	}
	.cd-timeline-block.left .cd-timeline-content .titulo span{
		float: left;
	}
	.cd-timeline-block.right .cd-timeline-content .titulo span{
		float: left;
	}
	.cd-timeline-block.left .cd-timeline-content .desc,
	.cd-timeline-block.right .cd-timeline-content .desc {
		width: 100%;
		padding: 18px 18px;
		margin: 15px 0 0 0px;
		border: 1px solid #EEE;
		border-radius: 6px;
		float: left;
	}
	.cd-timeline-block.left .cd-timeline-content .desc{
		text-align: right;
	}
	.cd-timeline-block.right .cd-timeline-content .desc {
		text-align: left;
		float: right;
	}
}
@media only screen and (min-width: 1170px) {
	.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
		-webkit-animation: cd-bounce-2-inverse 0.6s;
		-moz-animation: cd-bounce-2-inverse 0.6s;
		animation: cd-bounce-2-inverse 0.6s;
	}
	.cd-timeline-block.left .cd-timeline-content .titulo .box.responsive{
		display: none;
	}
	.cd-timeline-block.left .cd-timeline-content .titulo .box.some{
		display: block;
	}
}
@-webkit-keyframes cd-bounce-2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(20px);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes cd-bounce-2 {
	0% {
		opacity: 0;
		-moz-transform: translateX(-100px);
	}
	60% {
		opacity: 1;
		-moz-transform: translateX(20px);
	}
	100% {
		-moz-transform: translateX(0);
	}
}
@keyframes cd-bounce-2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
		-moz-transform: translateX(-100px);
		-ms-transform: translateX(-100px);
		-o-transform: translateX(-100px);
		transform: translateX(-100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(20px);
		-moz-transform: translateX(20px);
		-ms-transform: translateX(20px);
		-o-transform: translateX(20px);
		transform: translateX(20px);
	}
	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}
@-webkit-keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		-moz-transform: translateX(100px);
	}
	60% {
		opacity: 1;
		-moz-transform: translateX(-20px);
	}
	100% {
		-moz-transform: translateX(0);
	}
}
@keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		-moz-transform: translateX(100px);
		-ms-transform: translateX(100px);
		-o-transform: translateX(100px);
		transform: translateX(100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
		-moz-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		-o-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}
.time-in-line .know{
	margin: 0 auto;
	border-color: #666;
}
.time-in-line .know a{
	color: #666;
}
.time-in-line .know:hover a{
	color: #FFF;
}
.time-in-line .know:hover a::after{
	background-color: #666;
}
.publicacoes .cd-timeline-content{
	background-color: #f1f1f1;	
}
.publicacoes .cd-timeline-block.left .cd-timeline-content .desc,
.publicacoes .cd-timeline-block.right .cd-timeline-content .desc{
	border-color: #ddd;
}






















@media (max-width: 1199px){}
@media (max-width: 991px){
	.biografia .about{
		height: auto;
	}
	.biografia .about .contem{
	    margin-bottom: 80px;	
	}
	.over{
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(224, 224, 224, 0.64);
	}
}
@media (max-width: 767px){
	.over{
		background-color: rgba(224, 224, 224, 0.72);		
	}
	.biografia .about .contem{
		text-align: justify;
	}
}
@media (max-width: 481px){}
.timeline .cd-timeline-content .desc{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	max-height: 13em;
	overflow: hidden;
	position: relative;}