.home-blog{
    position: relative;
    width: 100%;
    float: left;
}

/* SIDEBAR BUSCA */
.search,
.search .title,
.search form,
.search form .sb-search-input{
    position: relative;
    float: left;
    width: 100%;
}
.search{
    margin: 20px 0 50px;
}
.search .title h3{
    color: #364193;
    font-family: 'gotham-bold';
    text-align: center;
}
.search form{
    max-width: 270px;
    margin: 0 auto;
    display: table;
    float: none;
}
.search form .sb-search-input{
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 8px;
    border: 1px solid #364193;
    margin: 0 0 16px;
}
.search form .sb-search-input:focus{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.26);
}
.search form .sb-search-submit{
    margin: 16px auto 0;
    display: table;
    position: relative;
    padding: 8px 15px;
    width: 85%;
    color: #FFF;
    background-color: #364193;
    border: 1px solid #364193;
    text-transform: uppercase;
}

/* Sidebar Destaques */
.destaques,
.destaques .title{
    width: 100%;
    position: relative;
    float: left;    
}
.destaques{
    margin: 20px 0 0;    
}
.destaques .destaque{
    margin: 0 0 20px;    
}
.destaques .title h3{
    color: #364193;
    font-family: 'gotham-bold';
    margin: 0;
}

/* Último Post, demais posts e destaques */
.last .thumb,
.ultimas .thumb,
.destaque .thumb{
    width: 100%;
    position: relative;
    float: left;
}
.last{
    margin-bottom: 40px;
}
.ultimas.gray{
    background-color: #f1f1f1;
}
.last .thumb{
    height: 400px;
    overflow: hidden;    
}
.ultimas .thumb{
    height: 300px;
    overflow: hidden;
    margin: 15px 0 0;    
}
.destaque .thumb{
    height: auto;
    overflow: hidden;
    margin: 15px 0 0;
    max-height: 193px;  
}
.last .thumb img,
.ultimas .thumb img,
.destaque .thumb img{
    width: 100%;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.last:hover .thumb img,
.ultimas:hover .thumb img,
.destaque:hover .thumb img{
    transform: scale(1.1);
}
.last .itemPost,
.ultimas .itemPost,
.destaque .itemPost{
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.last .titulo-last,
.ultimas .titulo-last,
.destaque .titulo-last{
    float: left;
    width: 100%;
    position: relative;
}
.destaque .titulo-last{
    padding: 7px 15px 15px;
    background-color: #f1f1f1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.last .titulo-last h3 a,
.ultimas .titulo-last h3 a{
    color: #364193;
    font-family: 'gotham-bold';
}
.destaque .titulo-last h3{
    margin: 0;
    line-height: 15px;
}
.destaque .titulo-last h3 a{
    font-family: 'gotham-bold';
    color: #333;
    font-size: 16px;
}
.destaque .titulo-last h3 a:hover{
    color: #364193;
}
.last .titulo-last .data,
.ultimas .titulo-last .data,
.destaque .titulo-last .data{
    font-family: 'pier-bold';
    font-size: 17px;
}
.destaque .titulo-last .data{
    font-size: 13px;
    margin: 10px 0 0;
}
.last .titulo-last .data .cat,
.ultimas .titulo-last .data .cat,
.destaque .titulo-last .data .cat{
    font-family: 'pier-bold';
    color: #333;
    font-size: 14px;
}
.destaque .titulo-last .data .cat{
    font-size: 11px;
}
.last .titulo-last .data i::before,
.ultimas .titulo-last .data i::before,
.destaque .titulo-last .data i::before{
    margin: 0;
}
.last .titulo-last .data .cat:hover,
.ultimas .titulo-last .data .cat:hover,
.destaque .titulo-last .data .cat:hover{
    color: #364193;
}
.last .desc-last,
.ultimas .desc-last,
.destaque .desc-last{
    float: left;
    width: 100%;
}
.last .desc-last a,
.ultimas .desc-last a,
.destaque .desc-last a{
    color:#666;
}
.last .thumb a,
.ultimas .thumb a,
.destaque .thumb a{
    float: left;
    width: 100%;
}
.desc-last .btn-daniel div{
    margin: 11px 0 0;
}
.desc-last .btn-daniel a{
    margin: 0;
    background-color: #FFF;
}
.ultimas .desc-last .btn-daniel div{
    margin: 11px 0 15px;
}
.ultimas .desc-last .btn-daniel a{
    margin: 0;
}
.desc-last .btn-daniel a span{
    font-family: 'gotham-book';
    color: #364193;
}
.btn-daniel a:hover::after{
    background-color: rgba(54, 65, 147, 0.28);
}
.destaque .desc-last .btn-daniel div{
    margin: 19px auto 0;
}
.destaque .desc-last .btn-daniel a{
    padding: 7px 25px;
    background: #364193;
    margin: 0 auto;
}
.destaque .desc-last .btn-daniel a span{
    color: #FFF;
}
.destaque .btn-daniel a:hover::after{
    background-color: rgba(255, 255, 255, 0.22);
}


/* PAGINATION */
.navegacao{
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    height: 55px;
}
.navegacao a.next.page-numbers,
.navegacao a.prev.page-numbers{
    color: #364193;
    padding: 7.5px 13.6px;
}
.navegacao .prev.page-numbers .navegacao a.page-numbers:nth-child(1);
.navegacao a.page-numbers:nth-child(2){
    padding: 10px 15px;
}
.navegacao a.page-numbers{
    color: #364193;
    border: 1px solid #364193;
    background-color: #FFF;
    padding: 7.5px 13.3px;
    display: inline-flex;
    height: 37px;
    width: 37px;
}
.navegacao a.page-numbers:hover{
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #364193;
    border: 1px solid #f3d400;
    background-color: #f3d400;
    text-decoration: none;
}
span.page-numbers.current{
    color: #FFF;
    border: 1px solid #364193;
    background-color: #364193;
    padding: 11.5px 15px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    width: 37px;
    height: 37px;
}
.ultimas,
.mais-lidas{
    margin-bottom: 40px;
}

/* SINGLE */
.home-blog.single-blog .image-destacada{
    max-height: 400px;
    overflow: hidden;
    position: relative;
    width: 100%;
    float: left;    
}
.home-blog.single-blog .title{
    position: relative;
    width: 100%;
    float: left;
}
.home-blog.single-blog .title h1{
    color: #364193;
    font-family: 'gotham-bold';
    font-size: 45px;
}
.home-blog.single-blog .dat-cat{
    position: relative;
    width: 100%;
    float: left;
}
.home-blog.single-blog .dat-cat .data{
    font-size: 19px;
    margin: 10px 0;
    font-family: 'pier-bold';
}
.home-blog.single-blog .dat-cat .data a{
    font-family: 'pier-bold';
    color: #333;
    font-size: 14px;
}
.home-blog.single-blog .dat-cat .data a:hover{
    color: #364193;
}
.home-blog.single-blog .contem{
    line-height: 27px;
    position: relative;
    width: 100%;
    float: left;
}
.home-blog.single-blog .contem p{
    margin-bottom: 20px;
}
.home-blog.single-blog .contem a{
    color: #364193;
    position: relative;
}
.home-blog.single-blog .contem a::after{
    content: '';
    height: 0px;
    width: 100%;
    background-color: #f3d400;
    position: absolute;
    left: 0;
    bottom: -2px;
    z-index: -1;
}
.home-blog.single-blog .contem a:hover::after{
    height: 18px;
}
.home-blog.single-blog .contem ul{
    margin-bottom: 20px;
    list-style-type: circle;
    padding: 0 0 0 30px;
}
.home-blog.single-blog .contem h2{
    font-size: 34px;
    font-family: 'gotham-bold';
    color: #333;
}
.home-blog.single-blog .contem h3{
    font-size: 30px;
    font-family: 'gotham-bold';
}
.home-blog.single-blog .contem h4{
    font-family: 'gotham-bold';
    font-size: 25px;
}
.comentarios{
    position: relative;
    float: left;
    width: 100%;
    padding: 45px 0 0;
    margin: 50px 0 100px;
    border-top: 1px solid #b1afaf;
}
.home-blog.single-blog .dat-cat .data i::before{
    margin: 0;
}


/* MEDIA QUERIES */
@media (max-width: 1350px) and (min-width: 1200px){
    .last .thumb{
        height: 370px;
    }
}
@media (max-width: 1199px){
    .destaques{
        margin: 0;
    }
}
@media (max-width: 991px){
    .destaques{
        margin: 80px auto 0;
        width: 270px;
        float: none;
    }
    .destaques .title h3{
        text-align: center;
    }
}
@media (max-width: 767px){
    .last .thumb,
    .ultimas .thumb{
    height: auto;

    }
}
@media (max-width: 481px){
    .last .titulo-last,
    .ultimas .titulo-last,
    .destaque .titulo-last{
        font-size: 30px;
    }
}