.speak{
	display: none !important; 
}
.fale,
.fale .o-form,
.fale .o-form .contem{
	position: relative;
	width: 100%;
	float: left;
}
.fale{
	padding: 54px 0 80px;
}
.fale .o-form .contem{
	text-align: center;
}
.fale .o-form #wpcf7-f13-o1{
	position: relative;
	margin: 0 auto;
	visibility: visible;
	opacity: 1;
	left: 0;
}
.fale .o-form .campo h3{
	display: none;
}
.fale .o-form #wpcf7-f13-o1 form .campo input,
.fale .o-form #wpcf7-f13-o1 form .campo textarea{
    border: 1px solid #afafaf;
}
.fale .o-form .wpcf7-text, .wpcf7-number, .wpcf7-select{
	height: 39px !important;	
}
#wpcf7-f13-o2{
	display: none;
}