.banner{
    position: relative;
    height: 100vh;
    width: 100%;
    float: left;
    background-size: cover;
    background-position: 50%;
}
.banner .over{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+23,0+100 */
background:-moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background:-webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 23%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 23%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

    position: absolute;
    height: 100%;
    width: 100%;
}
.banner .box{
    margin-top:200px;
}
.banner h2{
    font-size: 34px
}

/* Sobre */
.sobre,
.sobre .title,
.sobre .desc{
    position: relative;
    width: 100%;
    float: left;
    background-size: cover;
}
.sobre{
    padding: 60px 0;
}
.sobre .title h2 span{
    color: #ff0000;
}
.sobre .desc{
    margin: 0 0 15px;
}
.sobre h3{
    margin: 50px 0;
}
.sobre .btn-osmar a{
    float: left;
}
.sobre .propostas .btn-osmar a{
    background-color: transparent;
    color: #333333;
    border-width: 2px;color: #ff0000;
}

/* Proposta */
/* .propostas,
.propostas .title,
.propostas .proposites{
    position: relative;
    width: 100%;
    float: left;
}
.propostas{
    margin: 0 0 70px;
}
.propostas .title{
    text-align: center;
    margin: 0 0 30px;
}
.propostas .proposites .box{
    display: table;
    float: none;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.propostas .proposites .box a{
    overflow: hidden;
    display: inline-block;
    margin: 0 10px 20px;
    position: relative;
    top: 0;
    float: none;
    border: 1px solid #ff0000;
    padding: 9px;
    color: #ff0000;
    text-transform: uppercase;
}
.propostas .proposites .box a:hover{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.propostas .proposites .box a::after{
    position: absolute;
    background-color: rgba(54, 65, 147, 0.29);
    content: '';
    height: 100%;
    width: 100%;
    z-index: 0;
    transform: rotate(45deg);
    left: 100%;
    opacity: 0;
}
.propostas .proposites .box a:hover::after{
    left: 5%;
    opacity: 1;
} */



/* Alguns Vídeos */
.some-videos,
.some-videos .title,
.some-videos .slide-videos,
.some-videos .control-slide{
    position: relative;
    width: 100%;
    float: left;
}
.some-videos{
    background-color: #efefef;
}
.some-videos .title{
    margin: 20px 0;
}
.some-videos .title span{
    color: #ff0000;
}
.some-videos .slide-videos{
    height: 310px;
    cursor: ew-resize;
}
.some-videos .slide-videos .owl-video-playing{

}
.some-videos .slide-videos .item-video{
    height: 310px;
}
.some-videos .slide-videos .item-video .over{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    top: 0;
    opacity: 0.8;
    width: 100%;
    float: left;
    position: absolute;
    z-index: 1;
    height: 100%;
}
.some-videos .slide-videos .owl-video-playing .item-video .over{
    opacity: 0;
}
.some-videos .slide-videos .owl-carousel  .owl-video-play-icon{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 10;
}
.some-videos .slide-videos .owl-carousel .owl-item.active.center .item-video .over{
    opacity: 0;
}
.some-videos .slide-videos .owl-carousel .owl-video-play-icon{
    cursor: pointer;
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
}
.some-videos .slide-videos .owl-carousel .owl-item.active.center .owl-video-play-icon{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.some-videos .slide-videos .owl-carousel .owl-item.active.center .owl-video-play-icon:hover{
    transform: scale(1.1);
}
.some-videos .slide-videos .owl-nav{
    display: block;
    position: absolute;
    top: 41%;
    width: 100%;
}
.some-videos .slide-videos .owl-nav .owl-prev{
    position: absolute;
    left: 20px;
    cursor: pointer;
}
.some-videos .slide-videos .owl-nav .owl-next{
    position: absolute;
    right: 20px;
    cursor: pointer;

}
.some-videos .control-slide{
    padding: 15px 0;
    height: 90px;
    overflow: hidden;
}
.some-videos .control-slide .lista-video,
.some-videos .control-slide .lista-video *{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.some-videos .control-slide .lista-video{
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    float: none;
    cursor: ew-resize;
}
.some-videos .control-slide .lista-video .item {
    overflow: hidden;
    display: inline-block;
    margin: 0;
    position: relative;
    top: 0;
    float: none;
    border: 1px solid transparent;
    padding: 9px;
    color: #0f5d94;
    text-transform: uppercase;
    width: 235px;
    height: 58px;
}
.some-videos .control-slide .lista-video .item.selecionado,
.some-videos .control-slide .lista-video .item:hover{
    border: 1px solid #0f5d94;
    background-color: #0f5d94;
    color: #FFF;
}
.some-videos .control-slide .lista-video .item .image{
    position: absolute;
    float: left;
    width: 60px;
    height: 35px;
}
.some-videos .control-slide .lista-video .item .image img{
    width: 100%;
}
.some-videos .control-slide .lista-video .item span{
    text-transform: initial;
    font-size: 11px;
    margin: 0 0 0 60px;
    float: left;
    width: initial;
}
.some-videos .control-slide .lista-video .owl-dots{
    display: none;
}
.some-videos .control-slide .lista-video .owl-nav .owl-next,
.some-videos .control-slide .lista-video .owl-nav .owl-prev {
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, .97);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 25px;
    color: #333;
    top: 14%;
    position: absolute;
}
.some-videos .control-slide .lista-video .owl-nav .owl-prev {
    left: 0;
}
.some-videos .control-slide .lista-video .owl-nav .owl-prev:hover {
    animation: left infinite 1.5s;
}
.some-videos .control-slide .lista-video .owl-nav .owl-next{
    right: 0;
}
.some-videos .control-slide .lista-video .owl-nav .owl-next:hover{
    animation: right infinite 1.5s;
}
.some-videos .control-slide .owl-stage{
    display: none;
}
@-webkit-keyframes left {
    0% { left: 0; }
    25% { left: 5px; }
    50% { left: 0px; }
    75% { left: 3px; }
    100% { left: 0; }
}
@keyframes left {
    0% { left: 0; }
    25% { left: 5px; }
    50% { left: 0px; }
    75% { left: 3px; }
    100% { left: 0; }
}
@-webkit-keyframes right {
    0% { right: 0; }
    25% { right: 5px; }
    50% { right: 0px; }
    75% { right: 3px; }
    100% { right: 0; }
}
@keyframes right {
    0% { right: 0; }
    25% { right: 5px; }
    50% { right: 0px; }
    75% { right: 3px; }
    100% { right: 0; }
}




/* Depoimentos */
.depoimentos{
    width: 100%;
    float: left;
    padding: 30px;
    background-image: url('../img/bg-depoimentos.jpg');
    background-size: cover;
}
.depoimentos h2{
    color: #ff0000;
    text-align: center;
}

.depoimentos .owl-carousel .owl-item p{
    visibility: hidden;
    opacity: 0;
    position: absolute;
}
.depoimentos .owl-carousel .owl-item{
    transform: scale(.7);
    text-align: center;
}
.depoimentos .owl-carousel .owl-item img{
    border-radius: 50%;
    width: 85%;
    margin: 0 auto;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.depoimentos .owl-carousel .owl-item.center img{
     -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.depoimentos .owl-carousel .owl-item.center{
    transform: scale(1);
}
.depoimentos .owl-carousel .owl-nav {
    position: absolute;
    top: 20%;
    width: 100%;
}
.depoimentos .owl-carousel .owl-nav .owl-prev{
    left: 0;
    position: absolute;
}
.depoimentos .owl-carousel .owl-nav .owl-next{
    right: 0;
    position: absolute;
}


.depoimentos .owl-carousel .owl-item.center p{
    visibility: visible;
    opacity: 1;
    position: relative;
}



/* Discursando */
.frase{
    position: relative;
    width: 100%;
    float: left;
    background-position: 50% 50%;
    background-size: cover;
}
.frase .over{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 37, 88, 0.57);
}
.frase .dizer{
    position: relative;
    display: table;
    margin: 140px auto;
    min-width: 56%;
}
.frase .dizer p{
    color: #FFF;
    width: 100%;
    display: block;
    font-family: 'gotham-black';
}
.frase .dizer p .first{
    display: block;
    text-align: left;
    font-family: 'gotham-black';
    font-size: 50px;
}
.frase .dizer p .first b.aspa{
    font-size: 169px;
    line-height: 100%;
    position: absolute;
    left: -105px;
    font-family: 'gotham-black';
    top: -20px;
}
.frase .dizer p .second{
    display: block;
    text-align: right;
    margin: 14px 0 0;
}
.frase .dizer p .second b.two{
    width: 100%;
    display: block;
    font-size: 80px;
    line-height: 71px;
}
.frase .dizer p .second .who{
    font-size: 25px;
}
.frase .dizer p .second b.aspa{
    font-family: 'gotham-black';
    font-size: 169px;
    position: absolute;
    right: -95px;
    top: 80px;
}



/* Últimas do Blog */
.last-blog,
.last-blog .titulo,
.last-blog .post .image,
.last-blog .post .body-post,
.last-blog .post .body-post .title,
.last-blog .post .body-post .inf,
.last-blog .post .body-post .desc{
    position: relative;
    width: 100%;
    float: left;
}
.last-blog{
    margin: 36px 0 40px;
}
.last-blog .titulo{
    margin-bottom: 10px;
}
.last-blog .post{
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 350px;
    display: table;
    margin-bottom: 30px;
    border: 1px solid #000;
    overflow: hidden;
    z-index: 2;
    border-radius: 6px;

}
.last-blog .post .image{
    height: 215px;
    z-index: 1;
    overflow: hidden;
    position: relative;
}
.last-blog .post .image div{
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-position: 50%;
    z-index: 0;
    border-radius: 6px 6px 0 0;

}
.last-blog .post:hover .image div{
    transform: scale(1.2);
}
.last-blog .desc a{
    font-family: 'poppins_bold';
    text-transform: uppercase;
    color: #ff0000;
}
.last-blog .desc a:hover{
    color: #484848 !important;
    text-shadow: 0 0px 1px #484848;
}
.last-blog .post .body-post{
    background-color: #f1f1f1;
    padding: 0 15px 15px;
    border-radius: 0 0 6px 6px;
}
.last-blog .post .body-post .title h3{
    line-height: 25px;
    margin-top: 0;
}
.last-blog .post .body-post .title h3 a{
    font-size: 24px;
    font-family: 'poppins_bold';
    margin-bottom: 5px;
    color: #333;
}
.last-blog .post .body-post .title h3 a:hover,
.last-blog .post .body-post .inf .category a:hover{
    color: #ff0000;
}
.last-blog .post .body-post .inf{
    margin: 10px 0;
}
.last-blog .post .body-post .inf .date{
    float: left;
    display: table;
    margin: 0 3px 0 0;
    font-family: 'poppins_bold';
    font-size: 16px;
}
.last-blog .post .body-post .inf .date i::before{
    margin: 0;
}
.last-blog .post .body-post .inf .category{
    float: left;
    display: table;
    font-size: 12px;
    line-height: 22px;
}
.last-blog .post .body-post .inf .category a{
    font-family: 'poppins_bold';
    color: #333;
}
.last-blog .post .body-post .desc p{
    font-family: 'poppins_regular';
}




/* Últimas Fotos */
.last-photos{
    position: relative;
    float: left;
    width: 100%;
}
.last-photos .owl-nav{
    display: none;
}
.last-photos .photo{
    height: 85vh;
    background-position: 50%;
    background-size: cover;
    position: relative;
    width: 100%;
    cursor: ew-resize;
}
.last-photos .photo .desc{
    right: 0;
    left: 0;
    display: table;
    margin: 0 auto;
    color: #FFF;
    position: absolute;
    z-index: 30;
    bottom: 10px;
}
.last-photos .photo .desc p{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    position: relative;
    padding-right: 15px;
    float: none;
    display: table;
    font-size: 17px;
    text-align: center;
}
.last-photos .photo .desc a{
    color: #f3d400;
}
.last-photos .photo .over{
    background: rgba(54,65,147,0);
    background: -moz-linear-gradient(top, rgba(54,65,147,0) 0%, rgba(54,65,147,0.27) 47%, rgb(22, 28, 66) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(54,65,147,0)), color-stop(47%, rgba(54,65,147,0.27)), color-stop(100%, rgb(22, 28, 66)));
    background: -webkit-linear-gradient(top, rgba(54,65,147,0) 0%, rgba(54,65,147,0.27) 47%, rgb(22, 28, 66) 100%);
    background: -o-linear-gradient(top, rgba(54,65,147,0) 0%, rgba(54,65,147,0.27) 47%, rgb(22, 28, 66) 100%);
    background: -ms-linear-gradient(top, rgba(54,65,147,0) 0%, rgba(54,65,147,0.27) 47%, rgb(22, 28, 66) 100%);
    background: -ms-linear-gradient(top, rgba(54,65,147,0) 0%, rgba(54,65,147,0.27) 47%, rgb(22, 28, 66) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff0000', GradientType=0 );
    position: absolute;
    height: 30%;
    width: 100%;
    z-index: 2;
    bottom: 0;
}
.last-photos .title{
    width: 100%;
    float: left;
    position: absolute;
    bottom: 25%;
    z-index: 3;
}
.last-photos .title h2{
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.65);
    text-align: center;
    color: #FFF;
    margin: 0;
}
.last-photos .owl-dots{
   position: absolute;
    z-index: 50;
    margin: 0 auto;
    width: initial;
    bottom: 21%;
    float: none;
    display: table;
    right: 50%;
    left: 0;
    width: 100%;
    text-align: center;
}
.last-photos .owl-dots .owl-dot{
    position: relative;
    display: inline-block;
    zoom: 1;
}
.last-photos .owl-dots .owl-dot.active span{
    background-color: #fff;
    border-radius: 50%;
}
.last-photos .owl-dots .owl-dot span{
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: rgba(255,255,255,0);
    display: block;
    border-radius: 30px;
    backface-visibility: visible;
    transition: opacity .2s ease;
    border: 2px solid #FFF;
}



/* MEDIA QUERIES */
@media (max-width: 1920px) and (min-width: 1700px){
    .banner .video-wrapper #video{
        width: 1920px;
        top: -419px;
        left: 0;
    }
}
@media (max-width: 1699px) and (min-width: 1500px){
    .banner .video-wrapper #video{
        width: 1700px;
        top: -310px;
        left: -101px;
    }
}
@media (max-width: 1499px) and (min-width: 1351px){
    .banner .video-wrapper #video{
        top: -242px;
        height: 145%;
        left: -17%;
    }
}
@media (max-width: 1350px) and (min-width: 1200px){
    .banner .video-wrapper #video{
        width: 1336px;
        top: -313px;
        left: -145px;
    }
    .said .dizem-slide .owl-carousel .owl-item.active.center{
        left: -23px;
    }
    .said .desc h2{
        font-size: 42px;
    }
}
@media (max-width: 1199px){
    .banner .video-wrapper #video{
        left: -375px;
    }
    .said .dizem-slide .owl-carousel .owl-item .item{
        height: 150px;
        width: 150px;
    }
    .said .dizem-slide .owl-carousel .owl-item.active.center{
        left: -27px;
    }
    .said .desc h2{
        font-size: 33px;
    }
    .said .dizeres .item h3{
        font-size: 28px;
    }
    .last-blog .post{
        width: 310px;
    }
    .last-blog .post .body-post .title h3 a{
        font-size: 20px;
    }
}
@media (max-width: 1024px) and (max-height: 768px){
    .banner .video-wrapper #video{
        width: 1024px;
        top: -298px;
        min-width: 1365px;
        left: -180px;
    }
}
@media (max-width: 1024px){
    .banner .over-grd{
        background: rgba(0,0,0,0.6);
        background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 47%, rgba(0,0,0,0) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.6)), color-stop(47%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 47%, rgba(0,0,0,0) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 47%, rgba(0,0,0,0) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 47%, rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 47%, rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 50%;
    }
}
@media (max-width: 991px){
    .banner .video-wrapper #video{
        left: -391px;
        display: none;
    }
    .banner .hamburger-menu{
        display: block;
        position: absolute;
        z-index: 2;
        margin: 0;
    }
    .banner .hamburger-menu .smally{
        color: #FFF;
    }
    .banner .hamburger-menu .bar,
    .banner .hamburger-menu .bar::before,
    .banner .hamburger-menu .bar::after{
        background: #FFF;
    }
    .said .dizem-slide{
        width: 500px;
        margin: 0 auto;
        float: none;
    }
    .said .dizem-slide .owl-carousel .owl-item.active.center{
        left: 0px;
    }
    .said .desc{
        text-align: center;
        padding: 0;
    }
    .said .dizeres .item h3{
        text-align: center;
        margin: 30px auto 30px;
        float: none;
        position: relative;
    }
    .frase .dizer p .first b.aspa{
        font-size: 43px;
        left: -30px;
        top: 0;
    }
    .frase .dizer p .second b.aspa{
        font-size: 43px;
        right: -33px;
    }
    .last-photos .title{
        bottom: 29%;
    }
    .last-photos .owl-dots{
        bottom: 25%;
    }
    .footer .rights {
        margin: 29px 0 41px;
    }
    .footer .rights i{
        position: absolute;
        left: 0;
        top: 50px;
    }
}

@media (max-width: 768px) and (max-height: 1024px){
    .banner .video-wrapper #video{
        width: 123px;
        top: -406px;
        min-width: 1836px;
        left: -499px;
    }
}
@media (max-width: 767px){
    .menu-menor img{
        width: 120px;
    }

    .frase .dizer{
        max-width: 75%;
    }
    .frase .dizer p .first{
        font-size: 43px;
    }
    .frase .dizer p .first b.aspa{
    }
    .frase .dizer p .second b.two{
        font-size: 62px;
    }
    .frase .dizer p .second b.aspa{
    }
    .last-blog .post{
        margin: 0 auto 30px;
    }
    .last-blog .titulo h2{
        text-align: center;
    }
}
@media (max-width: 742px){
    .last-photos .title{
        bottom: 33%;
    }
    .last-photos .owl-dots{
        bottom: 30%;
    }
}
@media (max-width: 600px){
    .said .dizem-slide{
        width: 100%;
    }
    .said .dizem-slide .owl-carousel .owl-item .item{;
        margin: 0 auto;
    }
}
@media (max-width: 553px){
    .last-photos .title{
        bottom: 87%;
    }
    .last-photos .owl-dots{
        bottom: 83%;
    }
}
@media (max-width: 460px){
    .last-photos .title{
        bottom: 89%;
    }
    .last-photos .owl-dots{
        bottom: 39%;
    }
}
@media (max-width: 481px){
    .menu-menor img {
        width: 100px;
    }
    .last-blog .post {
        width: 270px;
    }
}





/* BOOTSTRAP QUERIES */
@media (min-width: 768px){
    .last-photos .photo .desc {
        width: 750px;
    }
}
@media (min-width: 992px){
    .last-photos .photo .desc {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .last-photos .photo .desc {
        width: 1170px;
    }
}
@media (min-width: 1351px){
    .last-photos .photo .desc {
        width: 1300px;
    }
}
@media (min-width: 1400px){
    .last-photos .photo .desc {
        width: 1360px;
    }
}