.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{padding:0;margin:0;border:0;outline:0;vertical-align:top}.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020}.fancybox-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;padding:0px !important;}.fancybox-opened{z-index:8030}.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,.5);box-shadow:0 10px 25px rgba(0,0,0,.5)}.fancybox-outer,.fancybox-inner{position:relative}.fancybox-inner{overflow:hidden}.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap}.fancybox-image,.fancybox-iframe{display:block;width:100%;height:100%}.fancybox-image{max-width:100%;max-height:100%}#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{background-image:url(fancybox_sprite.png)}#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:.8;cursor:pointer;z-index:8060}#fancybox-loading div{width:44px;height:44px;background:url(fancybox_loading.gif) center center no-repeat}.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040}.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url(blank.gif);-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040}.fancybox-prev{left:0}.fancybox-next{right:0}.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden}.fancybox-prev span{left:10px;background-position:0 -36px}.fancybox-next span{right:10px;background-position:0 -72px}.fancybox-nav:hover span{visibility:visible}.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible!important}.fancybox-lock{overflow:hidden!important;width:auto}.fancybox-lock body{overflow:hidden!important}.fancybox-lock-test{overflow-y:hidden!important}.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url(fancybox_overlay.png)}.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll;background-color:rgba(12, 0, 0, 0.65);}.fancybox-title{visibility:hidden;font:400 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050}.fancybox-opened .fancybox-title{visibility:visible}.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center}.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:transparent;background:rgba(0,0,0,.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:700;line-height:24px;white-space:nowrap}.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}.fancybox-title-inside-wrap{padding-top:10px}.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0,0,0,.8)}@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5){#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{background-image:url(fancybox_sprite@2x.png);background-size:44px 152px}#fancybox-loading div{background-image:url(fancybox_loading@2x.gif);background-size:24px 24px;}}


.midia{
	position: relative;
	width: 100%;
	float: left;
}
.midia .galeria{
	position: relative;
	width: 100%;
	float: left;
	padding: 0;
}



/* FILTRO*/
.cd-main-content {
	position: relative;
	height: auto;
}
.grid-full{
	position: relative;
	width: 100%;
	float: left;
	margin: 35px 0 0;	
}
.cd-main-content::after {
	content: "";
	display: table;
	clear: both;
}
.cd-main-content.is-fixed .cd-tab-filter-wrapper {
	top: 0;
	left: 0;
	width: 100%;
}
.cd-main-content.is-fixed .cd-gallery {
	position: relative;
	float: left;
}
.cd-main-content.is-fixed .cd-filter {
	position: fixed;
	height: 100vh;
	overflow: hidden;
}
.cd-main-content.is-fixed .cd-filter form {
	height: 100vh;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.cd-main-content.is-fixed .cd-filter-trigger {
	position: fixed;
}


/* --------------------------------

xtab-filter

-------------------------------- */
.cd-tab-filter-wrapper {
	background-color: #fff;
	z-index: 700;
	padding: 8px 0px;
}
.cd-tab-filter-wrapper::after {
	content: "";
	display: table;
	clear: both;
}

.cd-tab-filter {
	position: relative;
	width: 140px;
	margin: 0 auto;
	z-index: 700;
}
/* .cd-tab-filter::after {
	content: '';
	position: absolute;
	right: 8px;
	top: 46%;
	color: rgb(132, 194, 174);
	bottom: auto;
	background-color: rgb(132, 194, 174);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("../img/cd-icon-arrow.svg") no-repeat center center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
} */
.cd-tab-filter ul {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0px;
	background: #eee;
}
.cd-tab-filter li {
	font-size: 1.250em;
	z-index: 4000;
	font-weight: 400;
	list-style: none;
	display: inline-flex;
}
/* .cd-tab-filter li:first-child {} */
/* .cd-tab-filter a {
	display: block;
	width: 140px;
	position: absolute;
	bottom: 0;
	line-height: 45px;
	padding-left: 14px;
}
.cd-tab-filter a:hover{
	color: #999;
	text-decoration: none;
}
.cd-tab-filter a.selected {
	color: #fff;
	margin: 0;
} */
/* .cd-tab-filter a:focus {
	text-decoration: none;
	outline: none;
}
.cd-tab-filter.is-open::after {
	-webkit-transform: translateY(-50%) rotate(-180deg);
	-moz-transform: translateY(-50%) rotate(-180deg);
	-ms-transform: translateY(-50%) rotate(-180deg);
	-o-transform: translateY(-50%) rotate(-180deg);
	transform: translateY(-50%) rotate(-180deg);
}
.cd-tab-filter.is-open ul {} */
.cd-tab-filter.is-open ul li {
	display: block;
}
.cd-tab-filter.is-open .placeholder a {
	font-weight: 600;
	/* reduces the opacity of the placeholder on mobile when the menu is open */
}
@media only screen and (min-width: 320px) {
	.cd-tab-filter {
		/* tabbed navigation style on medium devices */
		width: auto;
		cursor: auto;
	}
	.cd-tab-filter::after {
		/* hide the arrow */
		display: none;
	}
	.cd-tab-filter ul {
		background: transparent;
		position: static;
		box-shadow: none;
		text-align: center;
		height: 62px;
	}
	.cd-tab-filter li {
		width: 157px;
		height: 62px;
		position: relative;
	}
	.cd-tab-filter li a:hover{
		text-decoration: none;
	}
	.cd-tab-filter li.placeholder {
		display: none !important;
	}
	.cd-tab-filter a {
		padding: 1px 15px;
		width: auto;
		color: #555;
		text-decoration: none;
		text-align: center;
		font-size: 30px;
		position: absolute;
		bottom: 0;
		border: 1px solid #364193;
		display: block;;
	}
	.no-touch .cd-tab-filter a:hover {
		-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		text-decoration: none;
	}
	.cd-tab-filter a.selected {
		background: transparent;
		color: #FFF;
		font-family: 'gotham-bold';
		background-color: #364193;
		padding: 12px 15px 3px;
		text-decoration: none;
	}
	.cd-tab-filter.is-open ul li {
		display: inline-block;
	}
}
@media only screen and (min-width: 1170px) {
	.cd-tab-filter {
		width: 100%;
		margin: 0;
		-webkit-transition: width 0.3s;
		-moz-transition: width 0.3s;
		transition: width 0.3s;
	}
	.cd-tab-filter.filter-is-visible {
		width: 80%;
	}
}

/* --------------------------------
xgallery
-------------------------------- */
.cd-gallery ul{
	width: 100%;
	float: left;
}
.cd-gallery {
	padding: 26px 5%;
	width: 100%;
}
.cd-gallery li {
	position: relative;
	float: left;
	margin: 10px 0.6%;
	display: none;
	width: 32%;
	min-height: 247px;
}
.cd-gallery li .item-fotografias{
	width: 300px;
	background-size: cover;
	height: 185px;
	margin: 0 auto;
	border-radius: 9px;
}
.cd-gallery li .item-fotografias p{
	position: relative;
	text-align: center;
	line-height: 20px;
	display: block;
	float: left;
	width: 100%;
	font-size: 12.5px;
}
.cd-gallery li .item-fotografias p a{
	color: #333;
	text-align: center;
	display: block;
}
.cd-gallery li .item-fotografias a.linka{
	position: absolute;
	width: 100%;
	float: left;
	height: 100%;
}
.cd-gallery li .item-fotografias .imagem{
	background-size: cover;
	height: 100%;
	width: 100%;
	float: left;
	position: relative;
	margin: 0 0 10px;
	overflow: hidden;
	border-radius: 8px;
}
.cd-gallery li .item-fotografias .imagem i{
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	position: relative;
    width: initial;
    font-size: 60px;
    display: table;
    margin: 0 auto;
    float: none;
    top: 30%;
    color: #FFF;
    text-shadow: 0 1px 7px #000;
	transform: scale(.8);
}
.cd-gallery li .item-fotografias .imagem a:hover + i,
.cd-gallery li .item-fotografias .imagem i:hover{
	transform: scale(1);
}
.cd-gallery li .item-fotografias .video a{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.cd-gallery li.gap {
	/* used in combination with text-align: justify to align gallery elements */
	opacity: 0;
	height: 0;
	display: inline-block;
}
.cd-gallery img {
	display: block;
	width: 100%;
}
.cd-gallery .cd-fail-message {
	display: none;
	text-align: center;
}
.cd-gallery .video img{
	position: absolute;
	width: 110%;
}


/* --------------------------------
xfilter
-------------------------------- */
.cd-filter {
	position: absolute;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	box-shadow: 4px 4px 20px transparent;
	z-index: 2;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
	-moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
	transition: transform 0.3s, box-shadow 0.3s;
	background: #ffffff;
}
.cd-filter::before {
	/* top colored bar */
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: #9daf59;
	z-index: 2;
}
.cd-filter form {
	padding: 70px 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}
.cd-filter .cd-close {
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	line-height: 50px;
	width: 60px;
	color: #ffffff;
	font-size: 1.3rem;
	text-align: center;
	background: #666;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
	z-index: 3;
}
.no-touch .cd-filter .cd-close:hover {
	background: #32255f;
}
.cd-filter.filter-is-visible {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.cd-filter.filter-is-visible .cd-close {
	opacity: 1;
}


/* --------------------------------

xcustom form elements

-------------------------------- */
.cd-filter-block {
	margin-bottom: 1.6em;
}
.cd-filter-block h4 {
	/* filter block title */
	position: relative;
	margin-bottom: .2em;
	padding: 10px 0 10px 20px;
	color: #9a9a9a;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.000em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
.no-touch .cd-filter-block h4:hover {
	color: #41307c;
}
.cd-filter-block h4::before {
	/* arrow */
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 16px;
	height: 16px;
	background: url("../img/cd-icon-arrow.svg") no-repeat center center;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
.cd-filter-block h4.closed::before {
	-webkit-transform: translateY(-50%) rotate(-90deg);
	-moz-transform: translateY(-50%) rotate(-90deg);
	-ms-transform: translateY(-50%) rotate(-90deg);
	-o-transform: translateY(-50%) rotate(-90deg);
	transform: translateY(-50%) rotate(-90deg);
}
.cd-filter-block input, .cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before {
	/* shared style for input elements */
	font-family: "Open Sans", sans-serif;
	border-radius: 0;
	background-color: #ffffff;
	border: 2px solid #e6e6e6;
}
.cd-filter-block input[type='search'],
.cd-filter-block input[type='text'],
.cd-filter-block select {
	width: 100%;
	padding: .8em;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	box-shadow: none;
}
.cd-filter-block input[type='search']:focus,
.cd-filter-block input[type='text']:focus,
.cd-filter-block select:focus {
	outline: none;
	background-color: #ffffff;
	border-color: #41307c;
}
.cd-filter-block input[type='search'] {
	/* custom style for the search element */
	border-color: transparent;
	background-color: #e6e6e6;
	/* prevent jump - ios devices */
	font-size: 1.6rem !important;
}
.cd-filter-block input[type='search']::-webkit-search-cancel-button {
	display: none;
}
.cd-filter-block .cd-select {
	/* select element wrapper */
	position: relative;
}
.cd-filter-block .cd-select::after {
	/* switcher arrow for select element */
	content: '';
	position: absolute;
	z-index: 1;
	right: 14px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	display: block;
	width: 16px;
	height: 16px;
	background: url("../img/cd-icon-arrow.svg") no-repeat center center;
	pointer-events: none;
}
.cd-filter-block select {
	cursor: pointer;
	font-size: 0.875em;
	font-weight: 400;
}
.cd-filter-block select::-ms-expand {
	display: none;
}
.cd-filter-block .list li {
	position: relative;
	margin-bottom: .8em;
}
.cd-filter-block .list li:last-of-type {
	margin-bottom: 0;
}
.cd-filter-block input[type=radio],
.cd-filter-block input[type=checkbox] {
	/* hide original check and radio buttons */
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	z-index: 2;
}
.cd-filter-block .checkbox-label,
.cd-filter-block .radio-label {
	padding-left: 24px;
	font-size: 1.4rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.cd-filter-block .checkbox-label::before, .cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
	/* custom radio and check boxes */
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.cd-filter-block .checkbox-label::before,
.cd-filter-block .radio-label::before {
	width: 16px;
	height: 16px;
	left: 0;
}
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::after {
	/* check mark - hidden */
	display: none;
}
.cd-filter-block .checkbox-label::after {
	/* check mark style for check boxes */
	width: 16px;
	height: 16px;
	background: url("../img/cd-icon-check.svg") no-repeat center center;
}
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
	border-radius: 50%;
}
.cd-filter-block .radio-label::after {
	/* check mark style for radio buttons */
	width: 6px;
	height: 6px;
	background-color: #fff;
	left: 5px;
}
.cd-filter-block input[type=radio]:checked + label::before,
.cd-filter-block input[type=checkbox]:checked + label::before {
	border-color: #41307c;
	background-color: #41307c;
}
.cd-filter-block input[type=radio]:checked + label::after,
.cd-filter-block input[type=checkbox]:checked + label::after {
	display: block;
}

@-moz-document url-prefix() {
	/* hide custom arrow on Firefox - select element */
	.cd-filter-block .cd-select::after {
		display: none;
	}
}



/* VIDEO MODAL */
.modal.the-mod{
    -webkit-overflow-scrolling: touch;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    transform: translateY(45px);
    display: block !important;
    z-index: 999;
    margin-left: auto;
    margin-top: 0;
    margin-right: auto;
    width: 100%;
    height: 100%;
    float: none;
    left: 0;
    right: 0;
    top: -45px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.78);
    outline: none;
}
.modal.the-mod.in{
    opacity: 1;
    visibility: visible;
}
.modal.the-mod.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.modal.the-mod .modal-dialog{
    width: 100%;
    max-width: 76%;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    margin: 14% auto 0;
    position: relative;
}
.modal.the-mod.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
}
.modal.the-mod .modal-dialog .modal-content{
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    width: 100%;
    position: relative;
    background-color: #000;
}
.modal.the-mod .modal-dialog .modal-body{
    position: relative;
    padding: 0px;
    width: 100%;
    display: block;
}
.modal.the-mod .modal-dialog .modal-body .embed-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    border: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    top: 0;
}
.modal.the-mod .modal-dialog .modal-body .embed-responsive iframe{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0px;
}
.modal.the-mod .modal-dialog .modal-footer{
    text-align: right;
}
.modal.the-mod .modal-dialog .modal-footer .btn:active,
.modal.the-mod .modal-dialog .modal-footer .btn:focus {
    outline: none;
}
.modal.the-mod .modal-dialog .modal-footer .btn{
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 0;
    border: 1px solid #FFF;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    color: #333;
}
.modal.the-mod .modal-dialog .modal-footer .btn i{
    font-size: 20px;
}



@media (max-width: 1199px){
	.cd-gallery li .item-fotografias{
    	width: 270px;
	}	
	.cd-gallery li{
		min-height: 265px;
	}
}
@media (max-width: 991px){
	.cd-gallery li{
		width: 48%;
	}
	.cd-gallery li .item-fotografias {
	    width: 285px;
	}
}
@media (max-width: 767px){}
@media (max-width: 730px){
	.cd-gallery li .item-fotografias {
	    width: 270px;
	}
}
@media (max-width: 685px){
	.cd-gallery li{
		width: 100%;
	}

}
@media (max-width: 481px){
	.cd-tab-filter li{
		width: 136px;
	}
	.cd-tab-filter a{
	    font-size: 25px;
	}
}


