.menu-proposta{
	position: relative;
	width: 100%;
	float: left;
	min-height: 130px;
	background-color: #FFF;
}
.menu-proposta .slide {
	width: initial;
    display: table;
    float: none;
    position: relative;
    margin: 40px auto 30px;
    text-align: center;
}
.proposta{
	background-color: #FFF;
	position: relative;
	width: 100%;
	float: left;
}



.menu-proposta .slide{
    display: table;
    float: none;
    position: relative;
    margin: 40px auto 30px;
    text-align: center;
    width: initial;
}
.item-proposta {
	margin: 0 8px 20px;
	overflow: hidden;
	float: none;
	position: relative;
    display: inline-block;
}
.item-proposta a {
    overflow: hidden;
    margin: 0;
    display: table;
    top: 0;
    border: 1px solid #364193;
    padding: 9px;
    color: #364193;
    text-transform: uppercase;
    font-size: 14px;
    float: left;
}
.item-proposta a:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.item-proposta a::after {
    background-color: rgba(54, 65, 147, 0.29);
    transform: rotate(45deg);
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    z-index: 0;
    left: 100%;
    opacity: 0;
}
.item-proposta a.active::after,
.item-proposta a:hover::after {
    left: 5%;
    opacity: 1;
}
.item-proposta a.active {
	background-color: #364193;
	color: #FFF;
}
.item-proposta a.active::after{
	background-color: rgba(255, 255, 255, 0.08);
}

.todas-propostas,
.proposta,
.proposta .title,
.proposta .desc,
.proposta .video,
.proposta .infografico,
.proposta .nav-prop{
	position: relative;
	width: 100%;
	float: left;
}
.proposta{
	padding: 21px 0px 40px;
}
.proposta.gray{
	background-color: #f1f1f1;
}
.proposta .nav-prop{
	display: table;
	margin: 25px auto 0;
	float: none;
	width: initial;
}
.todas-propostas .proposta:first-child .nav-prop .prev-prop,
.todas-propostas .proposta:last-child .nav-prop .next-prop{
	display: none;
}
.todas-propostas .proposta .nav-prop .next-prop,
.todas-propostas .proposta .nav-prop .prev-prop{
	float: left;
	margin: 0 15px 5px;
	color: #a7a5a5;
}
.proposta .title h2{
	font-family: 'gotham-black';
	text-align: center;
}
.proposta .desc{
	margin: 20px 0;
	text-align: center;
}
.proposta .video{
	margin-bottom: 30px;
	padding: 0 50px 0 0;
}
.proposta .video::after{
    content: '';
    height: 100%;
    background-color: #4d4d4d;
    width: 1px;
    position: absolute;
    top: 0;
    right: 25px;
}
.proposta .video.center::after{
	display: none;
}
.proposta .video,
.proposta .infografico{
	width: 50%;
}
.proposta .video.center,
.proposta .infografico.center{
	float: none;
	padding: 0;
	display: table;
	margin: 0 auto 20px;
}
.proposta .video iframe{
	width: 100%;
	border: none;
	height: 356px;
}
.proposta .infografico img{
	width: 100%;
}
.proposta .infografico.center img{

}


@media (max-width: 1350px) and (min-width: 1200px){
	.proposta .video iframe{}
	.proposta .video.center iframe{
    	height: 319px;
	}	
}
@media (max-width: 1199px){
	.proposta .video iframe{}
	.proposta .video.center iframe{
    	height: 264px;
	}	
}
@media (max-width: 991px){
	.proposta .video,
	.proposta .video.center,
	.proposta .infografico,
	.proposta .infografico.center{
		width: 100%;
	}
	.proposta .video{
		padding: 0;
	}
	.proposta .video::after{
		display: none;
	}
	.proposta .video iframe,
	.proposta .video.center iframe{
	    width: 630px;
	    margin: 0 auto;
	    display: table;
	    height: 354px;
	}

}
@media (max-width: 767px){
	.proposta .video iframe,
	.proposta .video.center iframe{
	    width: 100%;
	}
}
@media (max-width: 580px){
	.proposta .video iframe,
	.proposta .video.center iframe{
	    width: 100%;
	    height: 300px;
	}
}
@media (max-width: 481px){

}
