.head-title .page-name h1{
	font-size: 50px;
}

.erro{
	position: relative;
	width: 100%;
	float: left;
}
.erro p{
    text-align: center;
    display: block;
    float: left;
    width: 100%;
    margin: 0 0 35px;
    font-size: 30px;
    font-family: 'gotham-bold';
    color: #364193;
}
.search .title {
	margin: 40px 0 8px;
}
.search .title h2{
	text-align: center;
}
.search form{
	max-width: 75%;
	margin: 0 auto 40px;
}
.search form .sb-search-submit{
	width: initial;
	padding: 8px 30px;
}
.resultados-busca{
	position: relative;
	width: 100%;
	float: left;
	padding: 15px;
	margin-bottom: 30px;
}
.resultados-busca.gray{
	background-color: #F1F1F1;
}
.resultados-busca .thumb{
    width: 100%;
    position: relative;
    float: left;
}
.resultados-busca.gray{
    background-color: #f1f1f1;
}
.resultados-busca .thumb{
    height: 300px;
    overflow: hidden;
}
.resultados-busca .thumb img{
    width: 100%;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.resultados-busca:hover .thumb img{
    transform: scale(1.1);
}
.resultados-busca .itemPost{
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.resultados-busca .titulo-last{
    float: left;
    width: 100%;
    position: relative;
}
.resultados-busca .titulo-last h3 a{
    color: #364193;
    font-family: 'gotham-bold';
}
.resultados-busca .titulo-last .data{
    font-family: 'pier-bold';
    font-size: 17px;
}
.resultados-busca .titulo-last .data .cat{
    font-family: 'pier-bold';
    color: #333;
    font-size: 14px;
}
.resultados-busca .titulo-last .data i::before{
    margin: 0;
}
.resultados-busca .titulo-last .data .cat:hover{
    color: #364193;
}
.resultados-busca .desc-last{
    float: left;
    width: 100%;
}
.resultados-busca .desc-last a{
    color:#666;
}
.resultados-busca .thumb a{
    float: left;
    width: 100%;
}
.desc-last .btn-daniel a{
    margin: 11px 0 0;
    background-color: #FFF;
}
.resultados-busca .desc-last .btn-daniel a{
    margin: 11px 0 0;
}
.desc-last .btn-daniel a span{
    font-family: 'gotham-book';
    color: #364193;
}
.btn-daniel a:hover::after{
    background-color: rgba(54, 65, 147, 0.28);
}