.aligncenter,div.aligncenter{display:block;margin:5px auto}.alignright{float:right;margin:5px 0 20px 20px}.alignleft{float:left;margin:5px 20px 20px 0}a img.alignright{float:right;margin:5px 0 20px 20px}a img.alignleft,a img.alignnone{margin:5px 20px 20px 0}a img.alignleft{float:left}a img.aligncenter{display:block;margin-left:auto;margin-right:auto}.wp-caption{background:#fff;border:1px solid #f0f0f0;max-width:96%;padding:5px 3px 10px;text-align:center}.wp-caption.alignleft,.wp-caption.alignnone{margin:5px 20px 20px 0}.wp-caption.alignright{margin:5px 0 20px 20px}.wp-caption img{border:0;height:auto;margin:0;max-width:98.5%;padding:0;width:auto}.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;margin:0;padding:0 4px 5px}.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000;}

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot');
    src: url('../fonts/fontello.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff') format('woff'),
    url('../fonts/fontello.ttf') format('truetype'),
    url('../fonts/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppins_bold';
    src: url('../fonts/poppins_bold.eot');
    src: url('../fonts/poppins_bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins_bold.woff') format('woff'),
    url('../fonts/poppins_bold.ttf') format('truetype'),
    url('../fonts/poppins_bold.svg#poppins_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppins_medium';
    src: url('../fonts/poppins_medium.eot');
    src: url('../fonts/poppins_medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins_medium.woff') format('woff'),
    url('../fonts/poppins_medium.ttf') format('truetype'),
    url('../fonts/poppins_medium.svg#poppins_medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppins_regular';
    src: url('../fonts/poppins_regular.eot');
    src: url('../fonts/poppins_regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins_regular.woff') format('woff'),
    url('../fonts/poppins_regular.ttf') format('truetype'),
    url('../fonts/poppins_regular.svg#poppins_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    color: #333;
}
#wrap{
    background-color: #FFF;
    position: relative;
    top: 0;
    float: left;
    width: 100%;
}
h1, h2, h3, h4{
    color:#333;
    font-family: 'poppins_medium';
}
h1 span, h2 span, h3 span, h4 span{
    font-family: 'poppins_bold';
}
h1, .h1{
    font-size: 50px;
}
h2, .h2{
    color: #333;
    font-size: 38px;
}
h3, .h3{
    font-size: 33px;
}
a, span, li, p{
    font-family: 'poppins_medium';
}
strong, b, strong{
    font-family: 'poppins_bold';
}
a,
a::after,
a::before,
input,
span,
select,
textarea,
button{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
input:focus,
textarea:focus,
button:focus{
    outline: none;
}
a:hover,
a:focus,
a:active{
    outline: none;
    text-decoration: none;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
p{
    line-height: 27px;
    font-size: 15px;
}
.osmar-left-open,
.osmar-right-open{
    color: #ff0000;
}
.conteudo {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.my-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    position: relative;
    padding-right: 15px;
    float: none;
}
.btn-osmar{
    position: relative;
    float :left;
    width:100%;
}
.btn-osmar div{
    position: relative;
    overflow: hidden;
    padding-bottom: 13px;
}
.btn-osmar a{
    display: table;
    background-color: #ff0000;
    border: 1px solid #FF0000;
    color: #FFF;
    padding: 9px 25px;
    font-size: 17px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
.btn-osmar a:hover{
    color: #333;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    background-color: rgba(255, 0, 0, 0.71);
}
.btn-osmar a::after{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.22);
    content: '';
    height: 100%;
    width: 100%;
    z-index: 0;
    left: 100%;
    opacity: 0;
}
.btn-osmar a:hover::after{
    left: 6px;
    opacity: 1;
    top: 6px;
}
.btn-osmar a span{
    position: relative;
    z-index: 1;
}


/* Responsive hamburguer menu */
body.open-menu #wrap::after,
body.open-form #wrap::after{
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}
body #wrap::after{
    -webkit-transition: all .5s cubic-bezier(1, 0.03, 0, 0.99);
    -moz-transition: all .5s cubic-bezier(1, 0.03, 0, 0.99);
    -ms-transition: all .5s cubic-bezier(1, 0.03, 0, 0.99);
    -o-transition: all .5s cubic-bezier(1, 0.03, 0, 0.99);
    transition: all .5s cubic-bezier(1, 0.03, 0, 0.99);
    background-color: #F3D400;
    position: fixed;
    content: '';
    width: 50px;
    height: 50px;
    float: left;
    top: -50px;
    right: -50px;
    transform: scale(0);
    border-radius: 50%;
    z-index: 88;
}
body.open-menu #wrap::after,
body.open-form #wrap::after{
    transform: scale(0);
    opacity: 1;
    visibility: visible;
}
body.open-form #wrap::after {
    transform: scale(100);
    opacity: 1;
    visibility: visible;
}



.menu-menor .hamburger-menu {
    margin: 0;
}
body.open-form .hamburger-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 40px;
    height: 60px;
    cursor: pointer;
    right: 30px;
    display: block;
}
body.open-form .menu-menor{
    visibility: visible;
    opacity: 1;
    z-index: 99;
}
body.open-form .menu-header-container{
    opacity: 0;
    visibility: hidden;
}
body.open-form .hamburger-menu .smally{
    display: none;
}


/* Formulário de contato*/
#wpcf7-f13-o1{
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    right: 0;
    width: 100%;
    left: 88px;
    height: 100%;
    display: table;
    float: none;
    overflow: hidden;
    position: fixed;
    margin: 15vh auto 0;
}
body.open-form #wpcf7-f13-o1{
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    visibility: visible;
    opacity: 1;
    left: 0;
}
#wpcf7-f13-o1 form{
    position: relative;
    width: 270px;
    display: table;
    margin: 0 auto;
    top: 0;
}
#wpcf7-f13-o1 form h3{
    color: #364193;
    font-size: 28px;
    text-align: center;
}
#wpcf7-f13-o1 form h3 span{
    font-family: 'poppins_bold';
}
#wpcf7-f13-o1 form .campo,
#wpcf7-f13-o1 form .botao,
#wpcf7-f13-o1 form .botao input,
#wpcf7-f13-o1 form .campo input,
#wpcf7-f13-o1 form .campo textarea{
    position: relative;
    width: 100%;
    float: left;
}
#wpcf7-f13-o1 form .campo{
    margin: 0 0 6px;
}
#wpcf7-f13-o1 form .campo input:focus,
#wpcf7-f13-o1 form .campo textarea:focus{
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.26);
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.26);
    box-shadow: inset 0 0 10px rgba(0,0,0,.26);
    border: 1px solid #bcbbba;
}
#wpcf7-f13-o1 form .campo input,
#wpcf7-f13-o1 form .campo textarea{
    padding: 8px;
    border: 1px solid #eee;
}
#wpcf7-f13-o1 form .campo textarea{
    max-width: 100%;
    height: 150px;
}
#wpcf7-f13-o1 form .campo select{
    width: 100%;
    height: 38px;
    padding: 8px;
    display: block;
    border: 1px solid #eee;
    border-radius: 0 !important;
    outline: none;
}
#wpcf7-f13-o1 form .campo select:focus{
    border: 1px solid #364193;
}
#wpcf7-f13-o1 form .botao input{
    font-family: 'poppins_bold';
    background-color: #364193;
    color: #FFF;
    border: 1px solid #364193;
    padding: 8px 27px;
    width: initial;
    float: none;
    margin: 0 auto;
    display: table;
    position: relative;
}
#wpcf7-f13-o1 form .botao input:hover{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    background-color: rgba(54, 65, 147, 0.22);
    color: #364193;
}
#wpcf7-f13-o1 form .campo.check input{
    float: left;
    width: initial;
}
#wpcf7-f13-o1 form .campo.check span{
    font-size: 12px;
}
div.wpcf7 img.ajax-loader{
    position: absolute !important;
    top: 11px !important;
    right: 90px !important;
}
div.wpcf7-response-output{
    margin: 20px 0 0 !important;
    padding: 8px !important;
    float: left !important;
}


span.wpcf7-not-valid-tip{
    display: none;
}
.wpcf7-not-valid{
    border: 1px solid #ff3c3c !important;
}

.menu-menor{
    opacity: 0;
    visibility: hidden;
    width: 100%;
    float: left;
    position: fixed;
    z-index: 0;
}
.menu-menor img{
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    transform: scale(0);
    width: 150px;
    left: 15px;
    position: relative;
    top: 20px;
    z-index: 20;
}
body.open-menu .menu-menor img,
body.open-form .menu-menor img{
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    transform: scale(1);
}
.menu-menor .hamburger-menu{
    margin:0;
}
.hamburger-menu {
    position: absolute;
    top: 60px;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 60px;
    cursor: pointer;
    left: 0;
    z-index: 9;
}
.hamburger-menu .smally{
    float: left;
    right: 50px;
    position: relative;
    top: 26px;
    font-size: 12px;
    text-transform: uppercase;
}
.bar,
.bar::after,
.bar::before {
    width: 40px;
    height: 3px;
}
.bar {
    position: relative;
    transform: translateY(25px);
    background: #4b4b4b;
    transition: all 0ms 300ms;
    top: 6px;
}
.bar.animate {
    background: rgba(255, 255, 255, 0);
}
.bar::before,
.bar::after {
    position: absolute;
    background: #4b4b4b;
    content: '';
    left: 0;
}
.bar::before {
    bottom: 10px;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar::after {
    top: 10px;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar.animate::after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar.animate::before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}





/* HEADER HOME */
.box-menu{
    width: 100%;
    position: fixed;
    float: left;
    z-index: 9;
}
.header{
    display: none !important;
}
#header-home{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: rgba(255,255,255,0);
    width: 100%;
    display: block;
    height: 65px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    float: left;
    position: absolute;
    top: 0;
}
#header-home.small{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    height: 65px;
    background-size: 7%;
    background-color: #FFF;
    background-repeat: no-repeat;
}
#header-home .desk-menu{
    width: 100%;
    float: left;
    position: relative;
}
#header-home.small .desk-menu{
}
#header-home .logo *,
#header-home .logo,
#header-home .logo.small *,
#header-home .logo.small,
#header-home.small .logo a.siteLogo,
#header-home .logo a.siteLogo{
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#header-home .logo{
    float: left;
    overflow: hidden;
    position: relative;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    width: 150px;
    z-index: 2;
    -webkit-transition: all .7s ease-in-out;
    margin-left: -300px;
}
#header-home.small .logo{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    position: relative;
    margin-left: 0;
    margin-right: 20px;
}
#header-home .logo .logo-adn{
    display: block;
    z-index: 1;
    text-align: center;
    position: relative;
    margin: 0 auto;
}
#header-home.smal .logo .logo-adn{

}
#header-home .logo a.siteLogo{
    background: url('../img/logotipo.png') no-repeat;
    background-position: 57% 53%;
    color: rgba(255, 255, 255, 0);
    background-size: contain;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 155px;
    height: 54px;
}
#header-home .hamburger-menu{
    display: none;
}
#header-home .desk-menu .box-menu.right{
    width: 50%;
    float: left;
    position: relative;
}
#header-home .desk-menu .box-menu.left{
    width: 50%;
    float: left;
    position: relative;
}
#header-home .desk-menu .box-menu .the-menu ul{
    margin: 35px 0 0;
    position: relative;
    float: left;
    padding: 0;
    transition: all .5s ease;
}
#header-home.small .desk-menu .box-menu .the-menu ul{margin-top:15px;

}
#header-home .desk-menu .box-menu.left .the-menu{
    float: right;
}
#header-home.small .desk-menu .box-menu.left .the-menu{
    margin: 0 auto;
    float: none;
    display: table;
}
#header-home .desk-menu .box-menu.right .the-menu{
    position: relative;
    margin: 0;
}
#header-home.small .desk-menu .box-menu.right .the-menu{
    display: table;
    float: none;
    margin: 0 auto;
}
#header-home .desk-menu .box-menu .the-menu ul li {
    float: left;
    position: relative;
    list-style: none;
}
#header-home .desk-menu .box-menu .the-menu ul li a{
    font-family: 'poppins_bold';
    color: #343434;
    font-size: 14px;
    padding: 8px 15px;
    display: block;
    text-transform: uppercase;
}
#header-home .desk-menu .box-menu .the-menu ul li a:hover{
    background-color: rgba(255, 255, 255, 0.23);
}
#header-home.small .desk-menu .box-menu .the-menu ul li a:hover{
    background-color: rgba(54, 65, 147, 0.56);
    color: #ffffff;
}
#header-home .speak{
    background: url('../img/fale-com-osmar-gamba.png') no-repeat;
    background-size: contain;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: absolute;
    right: 100px;
    top: 50px;
    height: 150px;
    width: 150px;
    z-index: 55;
    padding: 30px 0 0 0;
    font-family: 'poppins_medium';
}

#header-home .speak span:first-child{
    width: 100%;
    color: #e11010;
    float: left;
    text-align: center;
    display: block;
    font-size: 16px;
}
#header-home.small .speak{
    right:10px;
    top:10px;
    width:50px;
    height:50px;
}
#header-home.small .speak:hover{
    width:130px;
    height:130px;
}
#header-home.small .speak span:first-child{
    display: none;
}
#header-home.small .speak span:last-child{
    display: none;
}
#header-home.small .speak:hover span:first-child{display: block;font-size:14px;}
#header-home.small .speak:hover span:last-child{display: block;}
#header-home .speak span:last-child{
    width: 100%;
    float: left;
    text-align: center;
    display: block;
    font-family: 'poppins_bold';
    font-size: 27px;
    line-height: 27px;
    color: #e11010;
}
#header-home .responsive-menu{
    display: block !important;
    position: initial !important;
    float: left;
}

/* HEADER HOME */
.header *,
.header{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.header{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    background-image: url('../img/fale-com-osmar-gamba.png');
    background-repeat: repeat no-repeat;
    background-position: 50% 98%;
    background-color: #FFF;
    background-size: 7%;
    position: fixed;
    display: block;
    height: 82px;
    width: 100%;
    z-index: 15;
    float: left;
    top: 0;
}
.header.small{
    height: 70px;
}
.header .desk-menu{
    width: 100%;
    float: left;
    position: relative;
}
.header .logo{
    float: left;
    overflow: hidden;
    position: absolute;
    margin: 0 auto 0;
    left: 0;
    right: 0;
    width: 354px;
    z-index: 2;
    height: 82px;
    background-color: #FFF;
    -webkit-transition: all .3s ease-in-out;
}
.header.small .logo{
    height:70px;
}
.header.small .logo .logo-adn{
    margin:8px 0 0;
}
.header .logo .logo-adn{
    display: block;
    z-index: 1;
    margin: 15px auto 0;
    text-align: center;
    position: relative;
}
.header .logo a.siteLogo{
    background: url('../img/logotipo.png') no-repeat;
    background-position: 57% 53%;
    color: rgba(255, 255, 255, 0);
    background-size: contain;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 155px;
    height: 54px;
}
.header .hamburger-menu{
    display: none;
}
.header .desk-menu .box-menu.right{
    width: 50%;
    float: left;
    position: relative;
}
.header .desk-menu .box-menu.left{
    width: 50%;
    float: left;
    position: relative;
}
.header .desk-menu .box-menu .the-menu ul{
    margin: 0;
    position: relative;
    float: left;
    padding: 0;
}
/* .header .desk-menu .box-menu.left .the-menu{
    float: right;
} */
.header .desk-menu .box-menu.left .the-menu{
    margin: 0 auto;
    float: none;
    display: table;
}
/* .header .desk-menu .box-menu.right .the-menu{
    position: relative;
    margin: 0;
} */
.header .desk-menu .box-menu.right .the-menu{
    display: table;
    float: none;
    margin: 0 auto;
}
.header .desk-menu .box-menu .the-menu ul li {
    float: left;
    position: relative;
    list-style: none;
}
.header .desk-menu .box-menu .the-menu ul li a{
    font-family: 'poppins_bold';
    font-size: 14px;
    display: block;
    text-transform: uppercase;
    color: #4b4b4b;
    padding: 8px 15px;
    margin: 23px 0;
}
.header.small .desk-menu .box-menu .the-menu ul li a{
    margin:17px 0px;
}
.header .desk-menu .box-menu .the-menu ul li a:hover{
    background-color: rgba(54, 65, 147, 0.56);
    color: #ffffff;
}
.header .speak{
    background: url('../img/fale-com-osmar-gamba.png') no-repeat;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: absolute;
    right: 0;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    z-index: 55;
    overflow: hidden;
    background-position: 50% 98%;
    padding: 57px 0 0 0;
    top: -32px;
}
.header.small .speak{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    top: -53px;
    padding: 67px 0 0;
}
.header .speak:hover{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(185, 161, 0, 0.66);
}
.header .speak span:first-child{
    text-transform: uppercase;
    width: 100%;
    color: #4b4b4b;
    float: left;
    text-align: center;
    display: block;
    font-size: 16px;
}
.header .speak span:last-child{
    text-transform: uppercase;
    width: 100%;
    float: left;
    text-align: center;
    display: block;
    font-family: 'poppins_bold';
    font-size: 27px;
    line-height: 27px;
    color: #364193;
}
.header .responsive-menu{
    display: block !important;
    position: initial !important;
    float: left;
}






/* FOOTER */
.footer,
.footer .rights{
    position: relative;
    float: left;
    width: 100%;
}
.footer{
    background-image: url('../img/waves-light.png');
    background-repeat: repeat no-repeat;
    background-position: 50% 100%;
    margin-top: 0 !important;
    background-size: initial;
    margin: 0;
    padding: 30px  0 0 0;
    z-index: 1;
}
.footer .image{
    margin: 12px 0 0;
    width: 100%;
}
.footer .social{
    float: right;
    margin: 10px 0 0;
}
.footer i{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.footer .social i{
    font-size: 19px;
    color: #FFF;
    background-color: #4b4b4b;
    border-radius: 50%;
    margin: 0 3px 7px;
    padding: 5px 5px;
    display: table;
    float: left;
}
 .footer .social a:hover i{
    color: #364193;
    background-color: #f3d400;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    transform: scale(1.1);
 }
.footer .rights{
    margin: 29px 0 0;
}
.footer .rights span{
    display: block;
    text-align: center;
    margin: 11px 0px;
    text-transform: uppercase;
    font-size: 12px;
}
.footer .rights i{ /* ASSOWEB LINK */
    color: #4b4b4b;
    position: absolute;
    right: 0;
    top: 2px;
    z-index: 2;
    font-size: 22px;
}
.footer .rights a:hover i{
    color: #18A7B9;
}
.footer #menu-footer{
    padding: 0;
    float: none;
    margin: 19px auto 0;
    display: table;
    list-style: none;
    border-bottom: 2px solid #4b4b4b;
}
.footer #menu-footer li{
    float:left;
}
.footer #menu-footer li a{
    padding: 8px;
    margin: 0 2px;
    font-family: 'poppins_bold';
    text-transform: uppercase;
    color:#4b4b4b;
}
.footer #menu-footer li a:hover{
    color: #364193;
}

/* SCROLL TO TOP */
.cd-top {
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    z-index: 6000;
    right: 10px;
    border-radius: 50%;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../img/cd-top-arrow.svg) center 45% no-repeat rgba(0, 0, 0, 0.78);
    visibility: hidden;
    border: 1px solid #b3b3b3;
    opacity: 0;
}
.cd-top.cd-fade-out,
.cd-top.cd-is-visible,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
}
.cd-top{
    opacity: 0;
}
.cd-top.cd-fade-out {
    opacity: .5;
}



/* OUTRAS PARTES COMUNS */
/* Título comum */
.head-title,
.head-title .page-name{
    float: left;
    width: 100%;
    position: relative;
}
.head-title{
    z-index: 0;
    background-position: 50% 50%;
    background-size: cover;
}
.head-title .over{
    float: left;
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    background-color: rgba(45, 54, 123, 0.62);
}
.head-title .page-name{
   padding: 160px 0 65px 0;
}
.head-title .page-name h1{
    color: #FFF;
    text-align: center;
    font-family: 'poppins_bold';
    font-size: 62px;
    text-shadow: 0 2px 6px rgba(39, 39, 39, 0.87);
}
.head-title .page-name p,
.head-title .page-name a{
    color: #FFF;
    text-align: center;
}
.head-title .page-name a:hover{
    color: #f3d400;
}


@media (max-width: 1350px) and (min-width: 1200px){
    .header .logo{
        width: 241px;
    }
}
@media (max-width: 1199px){
    .header.small .box-menu #header-home .speak {
        top: -40px;
        height: 130px;
        width: 130px;
        padding: 53px 0 0 0;
    }
    .header .logo .logo-adn{

    }
    .header.small .box-menu #header-home .speak span:first-child {
        font-size: 15px;
    }
    .header.small .box-menu #header-home .speak span:last-child{
        font-size:22px;
    }
    .header{}
    .header.small {
        height: 66px;
    }
    .header .logo {
        width: 180px;
    }
    .header.small .logo{
        width: 180px;
        height: 65px;
    }
    .header.small .logo a.siteLogo{
        width: 130px;
        height: 43px;
    }
    /* .header.small .logo .logo-adn {
        margin: 14px 0 0;
    } */
    .header.small .desk-menu .box-menu .the-menu ul li a{
        margin: 15px 0px;
    }
    .footer #menu-footer li a{
        font-size: 12px;
    }
}

@media (max-width: 1024px){
    body.open-menu #wrap::after {
        transform: scale(80);
        opacity: 1;
        visibility: visible;
    }
    .header .logo {
        margin: 0;
        z-index: 93;
        background: transparent;
    }
    .menu-menor *,
    .menu-menor{
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    body.open-menu .menu-menor *,
    body.open-menu .menu-menor{
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    body.open-menu .menu-menor{
        opacity: 1 !important;
        visibility: visible !important;
        z-index: 99 !important;
    }
    .menu-menor ul{
        position: relative;
        padding: 0;
        margin: 10vh auto;
        display: table;
        list-style: none;
    }
    .menu-menor ul li{
        width: 100%;
    }
    .menu-menor ul li a{
        text-align: center;
        display: block;
        text-transform: uppercase;
        font-family: 'poppins_bold';
        font-size: 35px;
        margin: 5px 0;
        position: relative;
        color: #364193;
    }
    .menu-menor ul li a:hover{
        text-shadow: 0 2px 3px rgb(54, 65, 147);
    }
    .menu-menor ul li a::after{
        content: '';
        width: 100px;
        height: 1px;
    }
    body.open-menu .menu-menor ul{
        margin: 20vh auto;
    }
}
@media (max-width: 991px){
    #header-home .desk-menu .box-menu .the-menu ul{
        position:absolute;top:-100vh;right:100vw;
    }
    #header-home .hamburger-menu{
        left: 0;
        display: block;
    }
    .footer .image{
        width: 250px;
        margin: 20px auto 50px;
        display: table;
    }
    .footer .social{
        margin: 49px auto 0;
        display: table;
        float: none;
    }
    #header-home .speak span:last-child{
        right: 5px;
        top: 5px;
    }

    #header-home .speak{
        height: 90px;
        width: 90px;
        top: 5px;
        right: 5px;
        padding: 15px 0 0;
    }

    .header .box-menu #header-home .speak span:first-child,
    .header.small .box-menu #header-home .speak span:first-child{
        font-size: 10px;
    }

    #header-home .speak span:first-child{
        font-size: 11px;
    }
    #header-home .speak span:last-child{
        font-size: 19px;
    }
    #header-home .desk-menu{
        margin-top: 0;
    }
    #header-home .logo{
        z-index: 1;
    }
}
@media (max-width: 767px){
    .header{
        height: 66px;
    }
    .header .speak span:last-child{
        font-size: 22px;
    }
    #header-home .logo a.siteLogo {
        margin: 0;
        width: 97px;
        height: 43px;
    }
    #header-home .logo a.siteLogo {
       width: 97px;
        height: 43px;
    }
}
@media (max-width: 620px){
    .footer #menu-footer{
        border: none;
    }
    .footer #menu-footer li{
        width: 100%;
        text-align: center;
    }
    .footer #menu-footer li a{
        margin: 6px;
        display: block;
    }
}
@media (max-width: 481px){
    h2, .h2 {
        font-size: 35px;
    }
    .menu-menor ul li a{
        font-size: 30px;
    }
    .hamburger-menu .smally{
        display: none;
    }
    .header .box-menu #header-home .speak,
    .header.small .box-menu #header-home .speak{
        padding: 36px 0 0;
        height: 100px;
        width: 100px;
        top: -22px;
    }
    .header .box-menu #header-home .speak span:first-child,
    .header.small .box-menu #header-home .speak span:first-child{
        font-size: 12px;
    }
    .header .box-menu #header-home .spea span:last-child,
    .header.small .box-menu #header-home .spea span:last-child{
        font-size: 19px;
    }
    #wpcf7-f13-o1 form .campo textarea{
        height: 100px;
    }
}


/* BOOTSTRAP QUERIES */
@media (min-width: 768px){
    .my-container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .my-container {
        width:970px;
    }
}
@media (min-width: 1200px){
    .my-container {
        width: 1170px;
    }
}
@media (min-width: 1351px){
    .my-container {
        width: 1300px;
    }
}
@media (min-width: 1400px){
    .my-container {
        width: 1360px;
    }
}

.wpcf7-text, .wpcf7-number, .wpcf7-select{height:30px !important;
}